<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   BrivoNetworkCore

   Created by Paul Marc on 30.01.2025.
   Copyright (c) 2025 Brivo. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
