<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637856352455-dla5damvqn86iugq7ud13d0fh6mrh72e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637856352455-dla5damvqn86iugq7ud13d0fh6mrh72e</string>
	<key>API_KEY</key>
	<string>AIzaSyCCPCrDS0AALw-QoyoTyQUlm3VG7cCGamA</string>
	<key>GCM_SENDER_ID</key>
	<string>637856352455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brivo.sdk.Sample</string>
	<key>PROJECT_ID</key>
	<string>brivosdk-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>brivosdk-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637856352455:ios:fda6686b9dccacd9d096e2</string>
	<key>DATABASE_URL</key>
	<string>https://brivosdk-sample.firebaseio.com</string>
</dict>
</plist>